@model IEnumerable<BoVoyageMVCTestNico.Models.Client>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row justify-content-center">
        <h1>Clients</h1>
    </div>
    <p>
        @Html.ActionLink("Ajouter un nouveau Client", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Civilite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </th>
            <th class="text-center">
                Modifier
            </th>
            <th class="text-center">
                Supprimer
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Civilite)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.DateNaissance)
                </td>

                <td class="align-middle text-center">
                    <a href="@Url.Action("Edit", new { id=item.ID})"><i class="fa fa-edit text-warning"></i></a>
                </td>
                <td class="align-middle text-center">
                    <a href="@Url.Action("Delete", new { id=item.ID})"><i class="fa fa-trash"></i></a>
                </td>

            </tr>
        }

    </table>
</div>
