@model IEnumerable<BoVoyageMVCTestNico.Models.Destination>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <p>
        @Html.ActionLink("Ajouter une destination", "Create")
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Continent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Region)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-center">
                    Modifier
                </th>
                <th class="text-center">
                    Supprimer
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Continent)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Pays)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Region)
                    </td>
                    <td class="align-middle">
                        @Html.Raw(item.Description)
                    </td>
                    <td class="align-middle text-center">
                        <a href="@Url.Action("Edit", new { id=item.ID})"><i class="fa fa-edit text-warning"></i></a>
                    </td>
                    <td class="align-middle text-center">
                        <a href="@Url.Action("Delete", new { id=item.ID})"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
