@model IEnumerable<BoVoyageMVCTestNico.Models.Agence>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row justify-content-center">
        <h1>Agences</h1>
    </div>
    <p>
        @Html.ActionLink("Ajouter une Agence", "Create")
    </p>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th class="text-center">
                    Modifier
                </th>
                <th class="text-center">
                    Supprimer
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td class="align-middle text-center">
                        <a href="@Url.Action("Edit", new { id=item.ID})"><i class="fa fa-edit text-warning"></i></a>
                    </td>
                    <td class="align-middle text-center">
                        <a href="@Url.Action("Delete", new { id=item.ID})"><i class="fa fa-trash"></i></a>
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
